// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#col1{

  width: 250px;
  height: 300px;
  float: left;
  padding: 10px;
  overflow: hidden;
  margin: 10px
}

#col1 img{
  border-radius: 5px;

}

#col2{
  width: 200px;
  float: left;
  padding-top: 14px
}

#col2 li:nth-child(1){
  font-size: 20px
}

section{
  color: #61748C;
}

section a{
  color: #61748C;
  text-decoration: none
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 5px;
}
ul li {
  display: inline
}

#container li {
  list-style-type: none;
  margin: 3px;

}

nav a {
  text-decoration: none;
  padding: 5px;
}

#container{
  width: 500px;

}