<div class="row">
  <div class="span8 offset1">
  <p>
    Here are some of the most common questions we've been getting:
  </p>
  <p> Why did you change everything? </p>

  <p> When we set out to update Facebook, we tried to keep three things in mind. First of all, we wanted to make the site clean and simple by reducing clutter; we wanted to give you more control over your profile, and we wanted to focus on the recent and relevant content on the site.</p>

  <p> That said, we know it can be hard to get used to things being in different places, which is why we wanted to make it easy for you to switch back and forth for a little while, in order to learn where everything went, and how the new site works.</p>

  <p> Where are my applications?</p>

  <p> None of your applications are gone, and they are now in a few places. Most of your profile boxes have been moved over to your Boxes tab on your profile. You may have noticed a few boxes on your Wall and Info tabs as well. You can choose up to five boxes from your Boxes tab to move to your Wall tab, but keep in mind that not all application developers have created boxes to fit in that space yet. </p>
</div>
</div>