<form method='post' action='/planets'>
  <label> name </label>
  <input type='text' name='planet[name]' autofocus>
  <label> image </label>
  <input type='text' name='planet[image]' >
  <label> orbit </label>
  <input type='integer' name='planet[orbit]' >
  <label> diameter </label>
  <input type='integer' name='planet[diameter]' >
  <label> mass </label>
  <input type='integer' name='planet[mass]' >
  <label> moons </label>
  <input type='integer' name='planet[moons]'>
  <button>Planet</planet>
</form>