Begin

<a href="/page_a">A</a>
<a href="/page_b">B</a>

<div id="form">
<h1>Submit response</h1>

<form action='/submit' method='post'>
  <input type='text' name='choice' autofocus>
  <button>Go!</button>
</form>
</div>
