<form method='post' action='/mountains'>
  <label> name </label>
  <input type='text' name='mountain[name]' autofocus>
  <label> image </label>
  <input type='text' name='mountain[image]' >
  <label> location </label>
  <input type='integer' name='mountain[location]' >
  <label> height </label>
  <input type='integer' name='planet[height]' >
  <label> width </label>
  <input type='integer' name='planet[width]' >
  <button>Mountain</planet>
</form>